{
  "extends": ["react-app", "prettier"],
  "rules": {
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ],
    "indent": ["warn", 2]
  }
}
